form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;

}
.envoi{
    background-color: blue;
    color: white;
    margin: 10px;
}